<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Yosemite National Park</title>
</head>
<body>
<!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Yosemite National Park</a>
            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
                <a href="#locations" class="nav-link">Locations</a>
            </li>
        </ul>
    </div>
        </div>
    </nav>

<!-- Main Section -->
    <section class="bg-dark text-light p-10 p-lg-0 pt-lg-10 p-md-10 text-center text-sm-start shadow p-3 mb-5 bg-body">
        <div class="container p-5 bg-dark">
            <div class="row-md col-sm">
                <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                    <h1 class="col-lg-2 col-md-6 pe-sm-5">The beautiful mountains of Yosemite.</h1>
                    <img src="static/aniket-deole-T-tOgjWZ0fQ-unsplash.jpg" alt="Mountains" class="img-fluid col-lg-8 col-md-6">
                </div>
            </div>
        </div>
    </section>

<!-- Second Area -->
    <section class="p-10 p-lg-0 text-center text-sm-start">
        <div class="container mt-10 p-5">
            <div class="row-md col-sm">
                <div class="d-sm-flex align-items-center justify-content-evenly">
                    <img src="static/madhu-shesharam-HRA_VAi9_Nc-unsplash.jpg" alt="Fall Picture" class="img-fluid shadow-lg col-lg-8 col-md-6">
                    <h1 class="p-5 col-lg-2 col-md-6">Visit Half Dome.</h1>
                </div>
            </div>
        </div>
    </section>

<!-- Third Area -->
    <section class="bg-dark text-light p-10 pt-lg-10 p-lg-0 text-center text-sm-start shadow">
        <div class="container mt-10 p-5">
            <div class="d-sm-flex align-items-center justify-content-evenly">
                <h1 class="p-5 col-lg-2 col-md-6">Yosmite Map.</h1>
                <img src="static/YOSE_ParkMap-1.jpg" alt="Half Dome" class="img-fluid shadow-lg col-lg-8 col-md-6">
            </div>
        </div>
    </section>

<!-- Fourth Area -->
    <section id="gallery" class="p-10 p-lg-0 lg-10 text-center text-sm-start shadow-lg">
        <div class="container p-5">
            <h2 class="text-center p-5">See the gallery.</h2>
            <div class="row g-4 p-4">

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/maggi-whiston---_q96cdBso-unsplash.jpg" alt="picture1" class="img-fluid shadow-lg p-0">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/casey-horner-CJMc24Qi5rE-unsplash.jpg" alt="picture2" class="img-fluid shadow-lg p-0">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/mick-haupt-2NQUZsSFkao-unsplash.jpg" alt="picture3" class="img-fluid shadow-lg p-0">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/mick-haupt-hb09G5FZG5k-unsplash.jpg" alt="picture4" class="img-fluid shadow-lg p-0">
                </div>
                
            </div>

            <div class="row g-4 p-4">

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/oleg-chursin-vaPoJZB9Mzg-unsplash.jpg" alt="picture5" class="img-fluid shadow-lg p-0">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/rakshith-hatwar-XNfyaABCLJk-unsplash.jpg" alt="picture6" class="img-fluid shadow-lg p-0">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/jeremy-bishop-dvACrXUExLs-unsplash.jpg" alt="picture7" class="img-fluid shadow-lg p-0">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img src="static/kc-welch-6j5d6-0uYfw-unsplash.jpg" alt="picture8" class="img-fluid shadow-lg p-0">
                </div>
                
            </div>
        </div>
    </section>

<section id="locations" class="bg-dark text-light text-center p-5">
    <h5>All photos taken in Yosemite National Park.</h5>
</section>

<footer>
    <p class="lead text-center p-3">&copy; Diego Hernandez</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>